
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tanıtım</h1>
<br />
<br />
<br />
<h2>Alparslan AKBAŞ</h2>
<br />
<h3>Mvc öğrenip işe gireceğim hedefim budur</h3>
