
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Bold steps forward, INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Misafir Admin Girişi</title>
    <link rel="stylesheet" href="~/AdminRole/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/AdminRole/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/AdminRole/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/AdminRole/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.7.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
</head>
<body data-home-page="Home.html" data-home-page-title="Home" class="u-body u-xl-mode">
    <section class="u-clearfix u-white u-section-1" id="carousel_03b2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-1">
                HAY AKSİ BİR SORUN OLUŞTU<br>
            </h2>
            <img class="u-image u-image-default u-preserve-proportions u-image-1" src="images/t-google-404-1299071983.jpg" alt="" data-image-width="196" data-image-height="238">
            <p class="u-text u-text-2">Giriş Bilgileriniz Sizi Misafir Admin Olarak Algıladı.Ne Yazık ki Admin Panelinde Hiçbir İşleme Yapamazsınız.!</p>
            <div class="u-palette-2-base u-shape u-shape-circle u-shape-1"></div>
        </div>
    </section>
</body>
</html>

